/* Estilos gerais */
body {
    text-align: center;
    background-color: grey;
}

/* Contêiner dos itens */
#dados-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    margin: auto;
}

/* Estilos para os itens individuais */
div.item {
    margin: 10px;
    background-color: #303030;
    padding: 10px;
    width: 175px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza a imagem verticalmente */
    border-radius: 10px;
}

/* Estilos para as imagens */
div.item img {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 75%;
    border-radius: 10px;
}

/* Estilos para o nome do item */
p.nome {
    color: white;
    font-size: 17px;
    background-color: #1F1F1F;
    height: 17px;
    border-radius: 10px;
    overflow: hidden; /* Oculta o texto que transborda */
    white-space: nowrap; /* Evita que o texto seja quebrado em várias linhas */
}


/* Estilos para a barra de pesquisa */
#searchInput {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 50px;
}
